// Animation

@keyframes moveInLeft {
    // start of animation = 0%, end = 100%
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        // go past starting position 0
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;

        // default starting position
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(1rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
